.bio {
    margin: 1rem 0;
    display: inline-block;
    margin-bottom: 1em;
}

a {
    color: rgb(155, 160, 142);
    font-size: 1.5em; 
}

a:hover {
    color: rgba(155, 160, 142, 0.411);
}

a:visited {
    color: rgb(155, 160, 142);
}

