.container {
    margin: 0 auto;
    max-width: 960px;
    padding: 1rem;
    min-height: 100vh;
}

.flexGrid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto -1rem 1rem;
}

.column {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding: 2rem;
}

.row {
    display: block;
    width: 100%;
}

.sidebar {
    flex: 1;
    background: black;
}

.content {
    flex: 5;
    width: 20rem;
}

.footer {
    border: 2px blue solid;
}

a { 
    color: #d4d4ca;
    text-decoration: none;
}

a:hover {
    color: white;
}

a:visited {
    color: #d4d4ca;
}
