.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 960px;
    padding: 1rem;
    min-height: 100vh;
}

// .flexGrid {
//     display: flex;
//     flex-direction: row;
//     flex-wrap: wrap;
//     margin: auto -1rem 1rem;
// }

.column {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding: 2rem;
}



.header {
    flex: 3;
    background: black;
    color: whitesmoke;
    padding: 2rem;
}


.content {
    flex: 3;
}

.footer {
    flex: 3;
    text-align: center;
}

a { 
    color: #d4d4ca;
    text-decoration: none;
}

a:hover {
    color: rgba(193, 195, 187, 0.904);
}

a:visited {
    color: #eeeee2;
}
