.sidebar {
    padding: 1rem 0 3rem;
}

.title {
    font-size: 2.8rem;
    text-decoration: none;
}

.nav-list {
    display: flex;
    list-style-type: none;
    margin: 0;
}

.nav-item {
    font-size: 1.3rem;
    margin-right: 1.3rem;
    text-decoration: none;

}

.link {
  
}